
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:#C8C8C8;
  min-height: 200vh;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}
header.sticky{
  padding: 5px 100px;
  background: #fff;
}
header .logo{
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li{
  position: relative;
  list-style: none;
}
header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transform: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}

/*content*/

.row {
display: flex;
flex-wrap: wrap;
margin: 0 10px; /* Adjusted margin */
border-radius: 50px;
font-family: sans-serif;
}

.col-25 {
-ms-flex: 25%;
flex: 0 0 calc(25% - 20px); /* Adjusted flex property */
margin-right: px; /* Adjusted margin */
}

.col-50 {
  -ms-flex: 75%; /* IE10 */
  flex: 50%;
}

.col-75 {
-ms-flex: 75%; /* IE10 */
flex: 0 0 calc(75% - 10px); /* Adjusted flex property */
margin-left: 10px; /* Adjusted margin */
}

.col-25,
.col-50,
.col-75 {
  padding: 0 10px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #ff2306;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #e20404;
}

span.price {
  float: right;
  color: grey;
}

.total-wrapper {
  display: flex;
  align-items: center; /* Align items vertically */
}

.total-wrapper label {
  margin-right: 10px; /* Add some spacing between label and input */
}

#automaticInput {
  border: 0;
  font-size: large;
  pointer-events: none;
  outline: none;
  background-color: #f2f2f2;
  
}
.total-wrapper {
  margin-top: 10px; /* Adjust the spacing between the input field and the label */
  position: relative;
}

#automaticInputLabel {
  position: relative;
  top: -5px; /* Adjust this value to move the label up */
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
/*Footer*/

footer{
  position:relative;
  bottom: 0;
  background: #111;
  height: auto;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
